<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css"/>
    <title>Project Tracking App</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Project Tracker</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Add Projects</a>
                    <a class="nav-link" href="/info">Teams and Projects</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}


    <div class="container mt-4">
        <div class="form-container">
            <h3>Add Team</h3>
            <form action="{{ url_for('add_team' ) }}" method="POST" class="needs-validation" novalidate>
                {{ team_form.csrf_token() }}
                <div class="form-group">
                    {{ team_form.team_name.label(class_="form-label") }}
                    {{ team_form.team_name(class_="form-control") }}
                </div>
                <div class="form-group mt-3">
                    {{ team_form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
    
        <div class="form-container mt-5">
            <h3>Add Project</h3>
            <form action="{{ url_for('add_project') }}" method="POST" class="needs-validation" novalidate>
                {{ project_form.csrf_token() }}
                <div class="form-group">
                    {{ project_form.project_name.label(class_="form-label") }}
                    {{ project_form.project_name(class_="form-control") }}
                </div>
                <div class="form-group mt-3">
                    {{ project_form.description.label(class_="form-label") }}
                    {{ project_form.description(class_="form-control") }}
                </div>
                <div class="form-group mt-3">
                    {{ project_form.completed.label(class_="form-check-label") }}
                    {{ project_form.completed(class_="form-check-input") }}
                </div>
                <div class="form-group mt-3">
                    {{ project_form.team_selection.label(class_="form-label") }}
                    {{ project_form.team_selection(class_="form-control") }}
                </div>
                <div class="form-group mt-3">
                    {{ project_form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>

    {% endblock %}
</body>
</html>